{% extends 'base.html' %}

{% block titulo %}
    Crear productos
{% endblock %}

{% block contenido %}
<div class="container">
    <div class="row">
        <div class="col-12 mt-4">
            <h1>
                Crear nuevo producto
            </h1>
        </div>
        
         <div class="col-12">
            <form method="POST">
                {% csrf_token %}

                <div>
                    <label class="text-secondary">
                        {{form.name.label}}
                    </label>
                    <br/>
                    {{form.name}}
                </div>

                <div class="mt-2">
                    <label class="text-secondary">
                        {{form.description.label}}
                    </label>
                    <br/>
                    {{form.description}}
                </div>

                <div class="mt-2">
                    <label class="text-secondary">
                        {{form.price.label}}
                    </label>
                    <br/>
                    {{form.price}}
                </div>
                <br/>

                <div class="mt-2">
                    <label class="text-secondary">
                        {{form.is_active.label}}
                    </label>
                    <br/>
                    {{form.is_active}}
                </div>
                <br/>

                <div class="mt-2">
                    <label class="text-secondary">
                        {{form.category.label}}
                    </label>
                    <br/>
                    {{form.category}}
                </div>
                <br/>


                <input class="btn btn-primary" type="submit" value="Crear" />
            </form>

    </div>
</div>

{% endblock %}
