<h1>{{new_product.name}}</h1>
<h2>PRECIO ${{new_product.price}}</h2>
<h3>{{new_product.descreption}}</h3>
<h1>--------------------------------------------------------------------------------------------------------</h1>
<h1>{{new_product1.name}}</h1>
<h2>PRECIO ${{new_product1.price}}</h2>
<h3>{{new_product1.descreption}}</h3>
<h1>--------------------------------------------------------------------------------------------------------</h1>
<h1>{{new_product2.name}}</h1>
<h2>PRECIO ${{new_product2.price}}</h2>
<h3>{{new_product2.descreption}}</h3>
<h1>--------------------------------------------------------------------------------------------------------</h1>
<h1>{{new_product3.name}}</h1>
<h2>PRECIO ${{new_product3.price}}</h2>
<h3>{{new_product3.descreption}}</h3>
<h1>--------------------------------------------------------------------------------------------------------</h1>
