{% extends 'base.html' %}

{% block titulo %}
    Productos
{% endblock %}

{% block contenido %}

<div class="container">
    <div class="row">
        <div class="col-12 mb-4 mt-4">
            <h1>
                Productos
            </h1>
        </div>

        {% for element in products %}
                {% for category in categories %}
                    {% if category.name == element.category %}
                        {% if category.is_active and element.is_active %}
                        <div class="col-xs-12 col-md-4 mt-2">
                            <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem; height: 100%">
                                <div class="card-body">
                                    {% if element.image %}
                                    <img src="{{element.image.url}}" class="card-img-top">
                                    {% else %}
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/da/Imagen_no_disponible.svg/1200px-Imagen_no_disponible.svg.png" class="card-img-top">
                                    {% endif %}
                                    
                                    <h4 class="card-title">{{element.name}}</h4>
                                    <p class="card-text">${{element.price}}</p>
                                    
                                </div>
    
                                <div class="card-footer text-center">
                                    <a class="btn btn-success" href="/products/item/{{element.id}}/" role="button">
                                        Ver producto
                                    </a>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
        {% endfor %}
    </div>
</div>

{% endblock %}
