{% extends 'base.html' %}

{% block titulo %}
    Registrarme
{% endblock %}

{% block contenido %}

    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1>
                    Registro de usuarios
                </h1>
            </div>

            <div class="col-12">
                <form action="" method="POST">
                    {% csrf_token %}
                    
                        <table>
                    
                            {{form.as_table}}
                    
                        </table>
                    
                        <p><input class="btn btn-primary" type="submit" value="Registrate!!"></p>
                    
                        </form>
            </div>
        </div>
    </div>

{% endblock %}
